server:
  port: ${PORT:8080}

spring:
  application:
    name: backend
  web:
    resources:
      static-locations: classpath:/static/

logging:
  level:
    root: INFO
    com.project.backend: DEBUG

